*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}
body {
    background:#D62323;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
.nav {

    font-family: "Ubuntu", sans-serif;
    font-size: 25px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6rem;
    left: 0px;
    top: 0px;
    background-color: #D62323;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav__list {
    flex: 1;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}
.nav__item {
    color: #FFFFFF;
    margin-right: 2rem;
}
.nav__button {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
    border-radius: 6px;
    transition: 400ms;
}
.nav__button:hover{
    background-color: #8E0000;
}


.main {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-img {
    width: 550px;    
}
.main h1{
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    color: #FFFFFF;
}

.main p{
    font-family: "Ubuntu", sans-serif;
    font-size: 23px;
    color: #FFFFFF;
}




.projectClass {
    flex: 1;
    margin-top: 8%;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;    
}
.projectClass .pro-description .tool-img{
    width: 100px;
    height: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
} 

.projectClass .pro-description .tool-img img{
    width: 100px;
    height: 100px;
}

.projectClass .pro-description .tool-img:hover{
    color: #323232;
}

.projectClass h1 {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    color: white;
    /* padding-left: 2rem;
    padding-top: 2rem; */
    text-align: center;
}
.projectClass p {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    color: white;
    /* padding-left: 2rem; */
    /* padding-top: 2rem; */
    text-align: center;
}

.projectClass .pro-description {
    background: #8E0000 ;
    border-radius: 10px;
}



section #about{    
    display: block;
    margin-top: -140px;
    /* height: 300px; */
    background-color: white;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


section h1{
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: #D62323;
    padding-left: 2rem;
    padding-top: 2rem;
}

section p {
    font-family: "Ubuntu", sans-serif;
    font-size: 23px;
    color: #D62323;
    padding: 2rem;
    text-align: left;
}




@media (max-width:900px){
    .nav {
        position: fixed;
        bottom: 48px;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
    }
    .nav__list {
        font-size: 1rem;
    }
    .main-img {
        /* width: 85vw ; */
        max-width: 100%;
        max-height: 100%;
    }
    
    .main {        
        display: grid;
        left: 0;
        right: 0;
        /* margin: 0 auto; */
        text-align: center;
        font-size: 30px;
        margin-top: 55px;
        margin-left: 0px;
        /* position: relative; */
    }
    .main h1 {
        margin-top: 10px;
        font-size: 30px;
    }

    section  {    
        display: inline-table;
        margin-top: 20px;
        /* height: 300px; */
        /* background-color: white; */
        align-items: center;
        justify-content: center;
        box-shadow: none;    
    }

    .projects {
        display: inline-table;
        margin-top: 20px;
        /* height: 300px; */
        background-color: #D62323;
        align-items: center;
        justify-content: center;
        position: inherit;
    }
    
}

